[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
requests = "*"
beautifulsoup4 = "*"
pyautogui = "*"
flask = "*"
mysql-connector-python = "*"
openpyxl = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m src.main"
